@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
 
.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.App-nav {
  display: flex;
  width: 100%;
  height: 77px;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.App-main {
  position: relative;
  display: flex;
  background-color: #fafafa;
}

.nav-fixed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1;
  border-bottom: 1px solid rgba(0,0,0,.0975);
}

.nav-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1010px;
  height: 77px;
  padding: 26px 40px;
}

.nav-logo {
  flex: 1;
  margin-right: 12px;
}

.nav-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  min-width: 130px;
  width: 215px;
  height: 28px;
  overflow: hidden;
}

.nav-navigation {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.navigation-container {
  display: flex;
  padding-left: 24px;
}

.navigation-menu {
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.navigation-menu.active {
  border-bottom: 1px solid black;
}

.navigation-menu:not(:first-child) {
  margin-left: 30px;
}

.main-row {
  padding-top: 60px;
  width: 100%;
  max-width: 935px;
  margin: 0 auto;
}

.card-feed {
  width: 100%;
  max-width: 614px;
}

.card {
  font-size: 14px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.card-header { 
  display: flex;
  height: 60px;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid #efefef;
  flex-direction: row;
  align-items: center;
}

.card-display {
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  height: 30px;
  width: 30px;
}

.card-displayPhoto {
  height: 30px;
  width: 30px;
}

.card-info {
  margin-left: 12px;
}

.card-uploader {
  font-size: 11px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-tags {
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-picture {
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}

.card-look {
  max-width: 100%;
  max-height: 612px;
}

.card-body {
  margin-top: 12px;
  padding: 0 16px;
}

.card-createdAt {
  line-height: 18px;
  color: #999;
  font-size: 10px;
  letter-spacing: .2px;
}

.comment-form {
  box-sizing: border-box;
  border-top: 1px solid #efefef;
  margin-top: 4px;
  padding: 16px 0;
}

.comment-area {
  font-size: inherit;
  width: 100%;
  border: 0;
  resize: none;
  height: 18px;
  line-height: 18px;
  max-height: 80px;
}

.comment-area:focus {
  outline: none;
}